# dependencies
node_modules/

# next.js
.next/
out/

# env
.env.local
.env.*.local

# contentlayer
.contentlayer/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# test artifacts
test-results/
test-artifacts/
playwright-report/

# cache/build
*.tsbuildinfo

# editor
.vscode/

# OS
.DS_Store
Thumbs.db